.hero {
  background-color: #43355b;
  color: #fff;
  margin-bottom: 1em;
  padding: 3em 1em;
}

.main {
  padding: 4rem 0;
}

.title {
  margin: 0 auto;
  line-height: 1.15;
  font-size: clamp(4rem, 14vw, 7rem);
}

.title {
  text-align: center;
}

.sectionTitle {
  font-size: clamp(2.6rem, 6vw, 3rem);
  font-weight: 600;
  line-height: 1.15;
  margin: 1.5em 0;
  text-align: center;
}

.services {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: 2rem;
  text-align: center;
}

.serviceTitle {
  font-size: 1.8em;
  font-weight: 500;
  margin: 0;
}

.serviceIcon {
  background: #43355b;
  border-radius: 0.5rem;
  fill: #fff;
  padding: 0.5rem;
}
